body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  background-image: url("./Images/background-image.jpg");
  background-size: 20%;
}
header {
  padding: 0.5rem;
  background-color: blanchedalmond;
}
h1 {
  font-weight: 100;
  background-color: brown;
  width: 100%;
  color: rgb(226, 201, 34);
  text-align: center;
  text-shadow: 1px 1px 1px white;
  font-size: 2.5rem;
  border-radius: 5px;
}
nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 0 20%;
}
nav > button {
  background-color: rgb(171, 38, 38);
  color: white;
  padding: 0.5rem 1rem;
  font-weight: 900;
  border-radius: 5px;
  border: 2px solid transparent;
  flex: 1;
}
nav > button:hover {
  border: 2px solid rgb(0, 0, 0);
}
.selected {
  background-color: rgb(0, 0, 0);
}
nav > button:active {
  box-shadow: 1px 1px 2px black;
}
#content {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgb(231, 231, 135);
  margin: 1rem 20%;
  border-radius: 5px;
  padding: 1rem;
}
.item-container {
  display: flex;
  gap: 1rem;
  border-bottom: 2px dotted black;
  padding: 1rem 0;
}
.item-container:hover {
  background-color: rgba(41, 41, 33, 0.1);
}
.item-container:nth-last-child(1) {
  border: none;
}
.name-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.timing-div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.timing-div > :nth-child(1) {
  font-weight: 600;
}
.hours {
  font-family: sans-serif;
  border: 1px solid black;
  border-radius: 10%;
  width: 30%;
  padding: 1rem 2rem;
  min-width: max-content;
  margin: auto;
}
.hours ~ * {
  margin: auto;
  font-family: sans-serif;
}
.banner-image {
  width: 100%;
  border-radius: 5px;
  margin: auto;
}
.item-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid black;
}
.item-name {
  font-family: cursive;
  font-size: 1rem;
  font-weight: 900;
  color: black;
  flex: 1;
}
.item-desc {
  font-family: arial;
  font-size: 0.8rem;
  font-style: italic;
  flex: 1;
}
.item-price {
  font-size: 1rem;
  font-weight: 900;
  align-self: center;
}
.item-price::before {
  content: "$";
}
.item-price::after {
  content: ".00/-";
}
footer {
  padding: 0.5rem;
  text-align: center;
  background-color: blanchedalmond;
}
footer > a {
  text-decoration: none;
  color: blue;
}
footer > a:hover {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
